### Build output ###
UEReflectWatch/[Dd]ebug/
UEReflectWatch/[Rr]elease/
UEReflectWatch/[Bb]in/
UEReflectWatch/[Oo]bj/
UEReflectWatch/[Ll]og/
UEReflectWatch/[Ll]ogs/

### Visual Studio ###
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

### NuGet ###
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

### Compiled output ###
*.vsix
*.pdb
*.obj
*.ilk

### Rider ###
*.sln.iml